
/* changes the color of the placeholder text */
.form-control::placeholder { 
  
  color: gray;
}

.main{

    background: #000;
}
.searchResults {

  visibility: hidden;
  position: absolute;
  z-index: 1;
}

.dropdown-toggle::after{
  display: none;
}