
/* changes the color of the placeholder text */
.form-control::placeholder { 
  
  color: gray;
}

.main{

    background: #000;
}
.searchResults {

  visibility: hidden;
  position: absolute;
  z-index: 1;
}

.dropdown-toggle::after{
  display: none;
}

.nav-link:hover{
  background: rgb(49, 49, 49);
}


.modal-content {
  background-color: #000;
}

.leftnav div{
  display: inline-block;
}

/* .test div{
  display: block;
} */