/* * {
  margin: 0 ;
  padding: 0;
  background-color: #000000;
  color: #fffefe;
}

.navbanner {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #000000;
  height: 100%;  Full height
  position: fixed;  Make it stick, even on scroll 
  overflow: auto; Enable scrolling if the sidenav has too much content 
}

li a {
  width: auto;
  text-align: justify;
  display: block;
  color: #fffefe;
  padding: 8px 16px 8px 300px;
  text-decoration: none;
}

 Change the link color on hover 
li a:hover {
  background-color: #555;
  color: white;
}

.active {
  text-decoration-thickness: 2px;
}

.status {
  background-color: #000000;
  color: #fffefe;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: auto;
} */

/* changes the color of the placeholder text */
.form-control::placeholder { 
  color: gray;
}